@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>User Quiz</title>
</head>
<body>
        <!-- <span>Titulo</span>

     <form asp-action="Quiz">
        <button type="button" name="A" value=""></button>
        <button type="button" name="B" value=""></button>
        <button type="button" name="C" value=""></button>
        <button type="button" name="D" value=""></button>
    </form>
    -->
    
</body>
</html>

